.container-header {
    background-image: linear-gradient(to left, #414142, #29292c);
    color: white;

    width: 100%;
    height: 2000;




    & .container-general {
        display: flex;
        flex-flow: row wrap;

        justify-content: space-between;

        & .container-logo {


            & #img-logo {
                width: 70px;
                margin-left: 1rem;

            }
        }

        & .navegacion {
            display: flex;
            flex-flow: row wrap;

            margin-right: 1rem;

            justify-content: end;
            align-items: end;
            align-content: center;
        }

        & .ul-container {
            display: flex;
            flex-flow: row wrap;
            
            align-items: baseline;
            & li {
                list-style: none;
                padding-left: 2rem;
            }

            & #li-carrito {
                display: flex;

                align-content: center;
                align-items: center;
                margin-left: 3rem;
                
            }


            & a {
                color: white;
                text-decoration: none;
            }
        }
    }



}